<h2>Login</h2>
<form id="login" method="post" action="/users/login">
    <label for="email">Email</label>
    <input type="email" name="email"/>
    <br>

    <label for="password">Password</label>
    <input type="password" name="password"/>
    <br>

    <label for="submit-login">Submit</label>
    <br>
    <input type="submit" name="login" />

</form>