<h2>Please Signup</h2>

<a href="/users/login">Login here</a>

<form method="POST" action="/users">
  <!--
  <label form="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name"/>
  <br/>

  <label form="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name"/>
  <br/> -->
  <div>
    <label for="email">Email</label>
    <input type="email" name="email"/>
    <br/>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password"/>
    <br/>
  </div>

  <div>
    <input type="submit" value="Submit"/>
  </div>

</form>